# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
pip-wheel-metadata/
*.egg-info/
.dist/
build/
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Environment & secrets
.env
*.env

# Data & models (adjust if needed)
data/
datasets/
models/
checkpoints/
*.h5
*.tflite
*.pb
*.pt
*.ckpt*

# Node (if any)
node_modules/